// @author Alexander Marenin
// @date July 2014


header#main-menu.navbar.navbar-default(role="banner", class=pageName)
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a#logo.navbar-brand.header(href='/')=title

        nav#main-nav.collapse.navbar-collapse(role='navigation')
            ul.nav.navbar-nav.navbar-right
                li(class=pageName === 'list' ? 'active' : '' )
                    a(href=route.INDEX) List
                li(class=pageName === 'form' ? 'active' : '' )
                    a(href=route.FORM) Form
